<% content_for :title, "Participations" %>

<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Participações</h5>
        <div class="btn-group">
          <%= link_to new_participation_path, class: "btn btn-success btn-sm" do %>
            <i class="bi bi-calendar-plus"></i>
          <% end %>
          <%= button_tag "Nova Participação", class: "btn btn-outline-dark btn-sm", disabled: true %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Data da Partida</th>
              <th>Nome do Jogador</th>
              <th>Resultado</th>
              <th>Gols</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% @participations.each do |participation| %>
              <tr>
                <td><%= participation.match.date.strftime('%d/%m/%Y') %></td>
                <td><%= participation.player.name %></td>
                <td><%= match_result(participation) %></td>
                <td><%= participation.goals %></td>
                <td>
                  <div class="d-flex">
                    <%= link_to edit_participation_path(participation), class: "btn btn-primary btn-sm me-2" do %>
                      <i class="bi bi-pencil-fill"></i>
                    <% end %>
                    <%= button_to participation_path(participation), method: :delete,
                                                                     data: { turbo_confirm: 'Tem certeza que deseja excluir esta participação?' }, 
                                                                     class: "btn btn-danger btn-sm" do %>
                      <i class="bi bi-trash3-fill"></i>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <!-- Paginação -->
        <div class="d-flex justify-content-center mt-4">
          <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>
      </div>
    </div>
  </div>
</div>
