<% if @player %>
  <div class="container mt-4">
    <%= flash_message(@participation) %>
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <% if player.new_record? %>
            <h5 class="mb-0">Adicionar Jogador</h5>
          <% else %>
            <h5 class="mb-0">Editar Jogador</h5>
            <div class="btn-group">
              <%= link_to new_participation_path(player_id: @player.id), class: "btn btn-success btn-sm" do %>
                <i class="bi bi-person-plus"></i>
              <% end %>
              <%= button_tag "Cadastrar participação", class: "btn btn-outline-dark btn-sm", disabled: true %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <%= form_with(model: player, class: "form", local: true) do |form| %>
          <div class="row mb-3">
            <div class="col-md-6">
              <%= form.label :name, "Nome", class: "form-label" %>
              <%= form.text_field :name, class: "form-control form-control-sm px-2", required: true %>
            </div>

            <div class="col-md-6">
              <%= form.label :position, "Posição", class: "form-label" %>
              <%= form.select :position, @positions_options, { prompt: "Selecione" }, class: "form-select form-select-sm px-2", required: true %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <%= form.label :number, "Número da Camisa", class: "form-label" %>
              <%= form.number_field :number, class: "form-control form-control-sm px-2", required: true, min: 0, step: 1 %>
            </div>

            <div class="col-md-6">
              <%= form.label :nickname, "Apelido", class: "form-label" %>
              <%= form.text_field :nickname, class: "form-control form-control-sm px-2" %>
            </div>
          </div>

          <%= form.submit "Salvar Jogador", class: "btn btn-primary btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container mt-4">
    <p>Jogador não encontrado</p>
  </div>
<% end %>