<% content_for :title, "Jogadores" %>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Lista de Jogadores</h5>
            <div class="btn-group">
              <%= link_to new_player_path, class: "btn btn-success btn-sm d-flex justify-content-center align-items-center" do %>
                <i class="bi bi-person-plus d-flex align-items-center justify-content-center"></i>
              <% end %>
              <%= button_tag "Novo jogador", class: "btn btn-outline-dark btn-sm", disabled: true %>
            </div>
          </div>
        </div>
        <div class="card-body w-100 overflow-auto">
          <div class="alert alert-info warning col-md-6 col-sm-12" role="alert">
            As médias apresentadas nessa tela são referentes ao ano <%= @current_year %>.
          </div>

          <div class="mt-2 mb-3 d-md-flex justify-content-md-left w-100">
            <%= form_tag players_path, method: :get, class: "d-flex align-items-center col-md-6 col-12" do %>
              <div class="input-group col-12">
                <%= text_field_tag :slug, params[:slug], 
                      class: "form-control", placeholder: "Nome do jogador", 
                      onchange: "this.form.submit()" %>
                <%= button_tag "<i class='bi bi-x-circle fs-5'></i>".html_safe,
                               class: "btn btn-secondary btn-sm",
                               onclick: "this.form.slug.value = null; this.form.submit();",
                               title: "Limpar filtro" %>
              </div>
            <% end %>
          </div>

          <div class="table-responsive mx-auto">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="">Nome</th>
                  <th class="text-center">J</th>
                  <th class="text-center">%.</th>
                  <th class="text-center">V</th>
                  <th class="text-center">E</th>
                  <th class="text-center">D</th>
                  <th class="text-center">MG</th>
                  <th class="text-center">G</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% @players.sort_by(&:percentage).reverse.each do |player| %>
                  <tr>
                    <td><%= player.name %></td>
                    <td class="text-center"><%= player.total_matches %></td>
                    <td class="text-center"><%= player.percentage %>%</td>
                    <td class="text-center"><%= player.vitorias %></td>
                    <td class="text-center"><%= player.empates %></td>
                    <td class="text-center"><%= player.derrotas %></td>
                    <td class="text-center"><%= player.goals_per_matches %></td>
                    <td class="text-center"><%= player.total_goals %></td>
                    <td class="text-center d-flex gap-1 justify-content-center">
                      <%= link_to player, class: "btn btn-secondary btn-sm" do %>
                        <i class="bi bi-eye-fill"></i>
                      <% end %>
                      <%= link_to edit_player_path(player), class: "btn btn-primary btn-sm" do %>
                        <i class="bi bi-pencil-square"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <!-- Paginação -->
            <div class="d-flex justify-content-center mt-4">
              <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
