<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h4 class="mb-0">Editar Partida</h4>
    </div>
    <div class="card-body">
      <%= form_with(model: match) do |form| %>
        <div class="row">
          <div class="col-md-6 mb-3">
            <% if form.object.persisted? %>
              <%= form.label :date, "Data", class: "form-label" %>
              <%= form.date_field :date, class: "form-control", disabled: true %>
            <% else %>
              <%= form.label :date, "Data", class: "form-label" %>
              <%= form.date_field :date, class: "form-control", required: true %>
            <% end %>
          </div>
          <div class="col-md-6 mb-3">
            <%= form.label :score, "Placar", class: "form-label" %>
            <%= form.text_field :score, class: "form-control", required: true %>
          </div>
        </div>

        <div class="card-body">
          <%= form.fields_for :participations do |form| %>
            <div class="card">
              <div class="card-header">
                <%= form.hidden_field :player_id, value: form.object.player_id %>
                <h5 class="form-label"><%= form.object.player.name %>
              </div>
              <div class="card-body">
                <div class="me-1 d-flex align-items-center">
                  <div class="me-3">
                    <% @match_results.each_with_index do |result, index| %>
                      <div class="form-check form-check-inline">
                        <%= form.radio_button :match_result, result.last, checked: form.object.persisted? ? (form.object.match_result == result.last) : index == 1, class: "form-check-input" %>
                        <%= form.label :match_result, result.first, class: "form-check-label" %>
                      </div>
                    <% end %>
                  </div>
                  <div class="me-1 d-flex align-items-center">
                    <%= form.label :goals, "Gols:", class: "form-check-label me-2" %>
                    <%= form.number_field :goals, class: "form-control form-control-sm w-auto", min: 0, step: 1 %>
                  </div>

                  <div class="me-1 d-flex align-items-center">
                    <% if form.object.persisted? %>
                      <%= form.check_box :_destroy, { class: "form-check-input me-1", checked: true, disabled: true } %>
                      <%= form.label :_destroy, "Participou ?", class: "form-check-label me-2" %>
                    <% else %>
                      <%= form.hidden_field :_destroy, value: '1' %>
                      <%= form.check_box :_destroy, { class: "form-check-input me-1" }, '0', nil %>
                      <%= form.label :_destroy, "Participou ?", class: "form-check-label me-2" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          <% end %>
          <%= form.submit "Salvar Partida", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
