<% content_for :title, "Partidas" %>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Lista de Partidas</h5>
            <div class="btn-group">
              <%= link_to new_match_path, class: "btn btn-success btn-sm" do %>
                <i class="bi bi-person-plus"></i>
              <% end %>
              <%= button_tag "Novo jogo", class: "btn btn-outline-dark btn-sm", disabled: true %>
            </div>
          </div>
        </div>
        <div class="card-body w-100 overflow-auto">
          <div class="mt-2 mb-3 d-flex justify-content-between w-100">
            <%= form_tag matches_path, method: :get, class: "d-flex align-items-center col-md-6 col-12" do %>
              <div class="input-group">
                <%= select_tag :date, options_for_select(@matches_options, params[:date]),
                                class: "form-select", prompt: "Selecione uma data",
                                onchange: "this.form.submit()" %>
                <%= button_tag "<i class='bi bi-x-circle fs-5'></i>".html_safe,
                               class: "btn btn-secondary btn-sm",
                               onclick: "this.form.date.value = null; this.form.submit();" %>
              </div>
            <% end %>
          </div>
          <div class="table-responsive mx-auto">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Data</th>
                  <th class="text-center">Placar</th>
                  <th class="text-center">Ações</th>
                </tr>
              </thead>
              <tbody>
                <% @matches.each do |match| %>
                  <tr>
                    <td><%= match.date.strftime("%d/%m/%Y") %></td>
                    <td class="text-center"><%= match.score %></td>
                    <td class="text-center d-flex gap-1 justify-content-center">
                      <%= link_to match, class: "btn btn-secondary btn-sm" do %>
                        <i class="bi bi-eye-fill"></i>
                      <% end %>
                      <%= link_to edit_match_path(match), class: "btn btn-primary btn-sm" do %>
                        <i class="bi bi-pencil-fill"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <!-- Paginação -->
          <div class="d-flex justify-content-center mt-4">
            <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

