<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mini Score" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>

    <div class="container-fluid mt-5 ">
      <div class="row">
        <nav class="col-md-3 col-lg-2 d-none d-md-block bg-light vh-100 p-3">
          <div class="offcanvas-body">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="<%= root_path %>" class="nav-link text-dark">
                  <i class="bi bi-house-fill"></i> Início
                </a>
              </li>
              <li class="nav-item">
                <a href="<%= players_path %>" class="nav-link text-dark">
                  <i class="bi bi-people-fill"></i> Jogadores
                </a>
              </li>
              <li class="nav-item">
                <a href="<%= matches_path %>" class="nav-link text-dark">
                  <i class="bi bi-calendar2-check-fill"></i> Partidas
                </a>
              </li>
              <li class="nav-item">
                <a href="<%= participations_path %>" class="nav-link text-dark">
                  <i class="bi bi-journal-bookmark-fill"></i> Participações
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main class="col-md-9 col-lg-10 ms-sm-auto px-md-4">  
          <%= flash_message %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
